

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Film Collection</h1>
    <br/>
    <a>Welcome to the world's greatest film collection, by the epic Joel Hilton! Explore!!!</a>
    
    
    
    <br/>
    <br/>
    <br/>

    <img src="/img/1.jpg"/></div>
    
    